@media screen and (max-width: 768px) {
    .main {
        max-width: 100%;
    }
    .header-logo img {
        max-width: 100px;
        height: 60px;
    }
    .navigation {
        display: none;
    }
    .nav-info {
        display: none;
    }
    section {
        display: block;
        padding: 30px 20px;
    }
}

@media screen and (max-width: 992px) {
    .main {
        max-width: 100%;
    }
    .header-logo img {
        max-width: 100px;
        height: 60px;
    }
    .navigation {
        display: none;
    }
    .nav-info {
        display: none;
    }
    section {
        display: block;
        padding: 30px 20px;
    }
}